body {
    margin: 0;
    overflow: hidden;
}

.text {
    &--center {
        text-align: center;
    }
}

.scroll-container .swiper-slide {
    overflow: 'auto',
}

.height--100 {
    height: 100vh;
}

.pointer {
    cursor: pointer;
}

.index4 {
    z-index: 4
}

.hide {
    display: none;
}

.show {
    display: block;
    @media (max-width: 560px) {
        position: relative;
    }

}

.ghost {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 3;
    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.zillow-sticker {
    position: absolute;
    z-index: 3;
    width: 300px;
    height: 300px;
    left: 0;
    right: 700px;
    top: 0px;
    bottom: 500px;
    margin: auto;
    border-radius: 50%;
    background: green;
    border: 3px solid black;
    @media (max-width: 1050px) {
        bottom: 620px;
    }
    span {
        font-size: 60px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 215px;
        transform: rotate(-27deg);
    }
    
}

.swiper-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



table, .table { 
    margin: auto;
    position: absolute;
    z-index: 2;
    
    &--centered {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        transition: top 2s ease;
    }

    &--bottom-right {
        bottom: 0;
        right: 0;
    }

    img {
        display: block;
    }
}

.bottom {
    top: unset;
    left: unset;
}


.mobile {
    @media (min-width: 678px) {
        display: none;
    }
}

.desktop {
    @media (max-width: 678px) {
        display: none;
    }
}

.sound-on {
    position: absolute;
    bottom: -5px;
    left: 0;
    z-index: 1;
    img {
        width: 80px;
        height: 80px;
    }
}

